<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> Home</h1>
    </header>

    <main>
        <div>
            <form action="/create" method="POST">
                <button type="submit">Create</button>
            </form>
        </div>

        <div>
            <form action="/list" method="POST">
                <button type="submit">List</button>
            </form>
        </div>

        <div>
            <form action="/mainpage" method="POST">
                <button type="submit">Clear</button>
            </form>
        </div>
    </main>
</body>
</html>